.background_class {
  margin: 0 auto;
  padding: 0;
  background-image: url(assets/images/background_index.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Patua One";
  font-size: 150px;
  text-align: center;
  text-decoration: none;
  color: #3b4049;
  margin-bottom: 30px;
}

#jogar {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#texto_jogar {
  position: absolute;
  bottom: 165px;
  right: 65px;
  font-family: "Titan One";
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  color: #3b4049;
}

a, a.visited {
  color: #3b4049;
}

#ajuda {
  position: absolute;
  bottom: -100px;
  left: -50px;
}

#texto_ajuda {
  position: absolute;
  bottom: 100px;
  left: 35px;
  font-family: "Titan One";
  font-size: 90px;
  text-align: center;
  text-decoration: none;
  color: #3b4049;
}

#interrogacao {
  position: absolute;
  bottom: -50px;
  left: 80px;
  margin: 0 auto;
  font-family: "Titan One";
  font-size: 400px;
  text-align: center;
  opacity: 0.5;
  text-decoration: none;
  color: #3b4049;
}

.dificulty_rounded_corner {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 75px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.back_rounded_corner {
  position: ;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 55px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.default_text{
  font-family: "Titan One";
  font-size: 50px;
  text-decoration: none;
  color: #3b4049;
}

#choose_dificulty{
  margin-top: 20;
  font-size: 80;
}

.level_rounded_corner {
  position: ;
  border-radius: 25px;
  background: #afdced;
  padding: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 50px;
}

.level_text{
  font-family: "Titan One";
  font-size: 26px;
  text-decoration: none;
  color: #3b4049;
}



.blank_question {
  border-radius: 25px;
  background: #a1bac4;
  padding: 20px;
  width: 200px;
  height: 110px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  line-height: 5em;
  /*margin-bottom: 35px;*/
}

.content_question {
  border-radius: 25px;
  /*background: #73AD21;*/
  padding: 20px;
  /* width: 200px;
  height: 75px; */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.answer_item {
  border-radius: 25px;
  background: #a5af97;
  padding: 20px;
  width: 200px;
  /* height: 75px; */
  display: inline-block;

}

.help_rounded_corner {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 400px;
  height: 75px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

#answer_title{
  margin-top: 20;
  font-size: 80;
}

#answer_options{
  margin-top: 50;
  margin-bottom: 50;
  font-size: 80;
  text-align: center;
}

#question{
  margin-top: 50;
  margin-bottom: 50;
  font-size: 80;
  text-align: center;
}
.expand_icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-family: "Titan One";
  font-size: 30px;
  color: #3b4049;
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
}

p a{
    text-decoration: none;
    color: #03465e;
}

button.css3button {
  padding: 4px 11px;
  border: 1px solid #ffcc00;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  background-color: #ffcc00 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );

  font-family:"Segoe UI";
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #666;

  box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
  cursor:pointer;
  position: relative;
  float: right;

  background: url(assets/images/expand.png) no-repeat;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
  bottom: 6%;
  right: 33%;
}

.text_question{
  font-family: "Patua One";
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  color: #3b4049;
  line-height: 1.1em;
  margin: 0 0 0 0;
}

.text_answer{
  font-family: "Patua One";
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  color: #3b4049;
  line-height: 0.75em;
  display: block;
}

.errado{
  background-color: #ff8e8e;
}

.certo{
  background-color: #00AA00;
}

.menu_item {
  border-radius: 25px;
  background-color: rgba(150, 150, 150, .9);
  padding: 20px;
  /* width: 100px; */
  /* height: 75px; */
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.text_menu{
  font-family: "Patua One";
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #3b4049;
  line-height: 1.1em;
  margin: 0 0 0 0;
}

.menu_oculto{
  display: none;
}

.menu_exibido{
  border-radius: 25px;
  position: absolute;
  padding: 50px 50px 50px 50px;
  z-index: 10;
  background-color: rgba(150, 150, 150, .7);
  width: 50%;
  margin: 0 25% auto;
}
